@charset "euc-kr";
/* Chosun.com Article Stylesheet */

/* Reset import */
@import url("http://news.chosun.com/dhtm/css/main/201505/css_reset_2015_min.css");
@import url("http://news.chosun.com/dhtm/css/main/201505/cs_gnb_201505.css");
@import url("http://news.chosun.com/dhtm/css/art/201505/lightslider.min.css");
@import url("http://news.chosun.com/dhtm/css/art/201505/cs_cmt_201505.css");

body { font-family:'맑은 고딕','Malgun Gothic',나눔고딕,돋움,Dotum,굴림,Gulim,'Apple SD Gothic Neo',sans-serif; }
#csWrap { min-width:1160px; }
#csHeader {}
#csContent { width:1160px; margin:0 auto; background:#fff; }
#csCopy { clear:both; width:1160px; margin:0 auto; border-top:solid 1px #909090;}
.footer_in { font-size:12px; padding:10px;}
.footer_in + .footer_in { border-top:solid 1px #d9d9d9; overflow:hidden;}
dl.copyright { width:690px; margin:0 auto; overflow:hidden; text-align:left;}
dl.copyright dt { width:206px; padding-top:10px; float:left;}
dl.copyright dt img { margin-right:5px}
dl.copyright dd { display:inline; background: url(http://image.chosun.com/main/201103/corp_line.gif) no-repeat left 3px;padding: 0 5px 0 7px;}
dl.copyright dt + dd, dl.copyright dd.copy { background:none; padding-left:0;}



.news_arrows { }
.news_arrows a { display:block; width:50px; height:99px; position:fixed; top:50%; margin-top:-25px; text-indent:-9999px; font-size:0; line-height:0; background:url(http://image.chosun.com/main/201505/cs_art_ico.png) no-repeat 0px 0px; }
.news_arrows #news_arrow_prev { left:0px; background-position:0px 0px;}
.news_arrows #news_arrow_next { right:0px; background-position:-50px 0px;}
.news_go { width:42px; height:42px; position:fixed; bottom:50px; right:10px;}
.news_go a { display:block; width:42px; height:42px; background:url(http://image.chosun.com/main/201505/cs_art_ico.png) no-repeat; font-size:0; line-height:0; text-indent:-9999px; overflow:hidden; }
.news_go #news_go_list { background-position: -150px -450px;}
.news_go #news_go_top { background-position: -150px -500px; margin-top:-1px;}


/* header */
.news_title { position:relative; width:1115px; padding:34px 0 16px; border-bottom:solid 1px #909090; }
.news_title h1 { font-size:32px; font-weight:normal; line-height:1.2; color:#000; letter-spacing:-1pt; min-height:50px}
.news_title .news_title_author { max-width:750px; padding-top:14px; font-size:12px; color:#888; }
.news_title .news_title_author a { color:#888; }
.news_title .news_title_author li { display:inline; position:relative; margin-right:15px;}
.j_popup{background:#fff; border:1px solid #333; display:none; width:155px; position:absolute; z-index:2002; left:0px; top:12px; word-break:break-all;}
.j_email {color:#333; width:131px; margin:10px 0 0 12px;}
.j_blog { padding:8px 0 0 0; border-top:solid 1px #ebebeb; color:#333; width:131px; margin:9px 0 0 12px;}
.j_title_li {line-height:12px;margin:0 0 5px 0; display:block}
.j_title_li img {margin:0 5px 0 0;}
.j_con_li {letter-spacing:0px;}
.j_con_li a {color:#274C9C !important;}
.j_more {width:131px; margin:6px 0 12px 8px;}
.j_more img{margin:0 0 0 4px;}


.news_title_cat { width:135px; height:40px; margin-right:20px; padding-top:8px; float:left; font-size:20px; letter-spacing:-1px; color:#222}
.news_title_cat a { color:#222}
.news_title_cat > a { display:block; min-height:25px;}
.news_title_cat > a:after { display:inline-block; content:''; width:9px; height:5px; background:url(http://image.chosun.com/main/201505/cs_art_ico.png) no-repeat -100px -500px; vertical-align:middle; margin-left:5px;}
.news_title_cat > a:hover { text-decoration:none; }
.news_title_cat a:hover + ul.news_title_cat_sub { display:block;}
.news_title_cat em { font-size:20px; color:#222; letter-spacing:-1px;}
.news_title_cat dt { font-size:20px; color:#222; letter-spacing:-1px;}
.news_title_cat dd { display:none;}
.news_title_text { margin-left:155px;}

ul.news_title_cat_sub { margin-top:0px; margin-left:-10px; padding: 5px 10px; background:#fff; font-size:15px; line-height:25px; border:solid 1px #d7d7d7; display:none; }
ul.news_title_cat_sub:hover { display:block;}
ul.news_title_cat_sub li {}
ul.news_title_cat_sub li.sub_line { border-bottom:solid 1px #eaeaea; padding-bottom:5px; margin-bottom:5px;}
ul.news_title_cat_sub li a { }
ul.news_title_cat_sub li a:hover { background:#f5f5f5; color:#c51917}


#cat_list_trigger_id a:after { content:''; display:inline-block; width:9px; height:5px; background:url(http://image.chosun.com/main/201505/cs_art_ico.png) no-repeat -100px -500px; vertical-align:middle; margin-left:5px;}
#cat_list_trigger_id a.open:after { background-position:-100px -525px;}
.news_title_cat ul.news_title_cat_list { display:none; padding:5px; background:#fff; border:solid 1px #d7d7d7; }
.news_title_cat ul.news_title_cat_list li { }
.news_title_cat ul.news_title_cat_list li a { display:block; }
.news_title_cat ul.news_title_cat_list li a:hover { background:#e5e5e5; }

ul.news_title_tools { width:200px; height:28px; position:absolute; bottom:10px; right:0px;}
ul.news_title_tools li { float:left;}
ul.news_title_tools li a { width:25px; height:28px; display:block; background:url(http://image.chosun.com/main/201505/cs_art_ico.png) no-repeat; font-size:0; line-height:0; text-indent:-9999px; overflow:hidden; }
ul.news_title_tools li.print a { background-position:-150px -600px; cursor:pointer;}
ul.news_title_tools li.email a { background-position:-175px -600px; cursor:pointer;}
ul.news_title_tools li.scrap a { background-position:-200px -600px; cursor:pointer;}
ul.news_title_tools li.font { position:relative; margin-left:6px; padding-top:4px;}
ul.news_title_tools li.font a { background-position:-232px -628px; width:58px; cursor:pointer;}
#ntt_font_item { position:absolute; top:25px; right:-1px; background:#fff; border:solid 1px #d7d7d7; display:none; z-index:50;}
#ntt_font_item a { display:block; width:52px; height:auto; padding-left:5px; background:none; font-size:12px; line-height:22px; text-indent:0; white-space:nowrap;}
#ntt_font_item a.selected { background:#e5e5e5;}
#ntt_font_item a + a { font-family:'굴림';}

ul.news_title_tools li.size_up { padding-top:4px;}
ul.news_title_tools li.size_dn { padding-top:4px;}
ul.news_title_tools li.size_up a { background-position:-290px -628px; width:24px;}
ul.news_title_tools li.size_dn a { background-position:-314px -628px; width:24px;}



/* article */

/* news left aside */
.news_article { width:755px; margin-bottom:50px; padding-top:17px; float:left;}
.news_left_aside { width:135px; float:left;}
#left_aside_sns_more_layer { display:none; clear:both; width:162px; height:40px; margin-left:-8px; padding:8px 0 0 10px; border:solid 1px #d6d6d6; background:#fff; position:relative; z-index:100}
#left_aside_sns_more_layer li.naver a{background:none; text-indent:0}
#left_aside_sns_more_layer.open { display:block;}
#left_aside_sns_more_layer.open:before { content:''; display:block; position:absolute; width:18px; height:10px; top:-10px; left:14px; background:url(http://image.chosun.com/main/201505/cs_art_ico.png) no-repeat -100px -250px;}
ul.left_aside_sns li { height:30px; padding:7px 0 7px 8px; clear:both; border-bottom:solid 1px #eaeaea; font-weight:bold; line-height:30px;}
ul.left_aside_sns li a { display:block; float:left; width:30px; height:30px; margin-right:8px; background:url("http://image.chosun.com/main/201505/csh_main_ico.png") no-repeat; font-size:0; line-height:0; text-indent:-9999px; overflow:hidden; }
ul.left_aside_sns li.cmt a { background-position:-200px -500px;}
ul.left_aside_sns li.fb a { background-position:0px -500px;}
ul.left_aside_sns li.tw span { display:none}
ul.left_aside_sns li.tw a { background-position:-50px -500px;}
ul.left_aside_sns li.more a { background-position:-250px -500px;}
ul.left_aside_sns li.cmt a:hover { background-position:-200px -450px;}
ul.left_aside_sns li.fb a:hover { background-position:00px -450px;}
ul.left_aside_sns li.tw a:hover { background-position:-50px -450px;}
ul.left_aside_sns li.more a:hover { background-position:-250px -500px;}

ul#left_aside_sns_more_layer li { width:43px; height:43px; padding-left:0; display:inline;}
ul#left_aside_sns_more_layer li a { float:left; width:31px; height:31px; margin-right:9px; font-size:0; line-height:0; text-indent:-9999px; overflow:hidden; background:url("http://image.chosun.com/main/201505/csh_main_ico.png") no-repeat; cursor:pointer;}
ul#left_aside_sns_more_layer li.gp a { background-position:-100px -450px;}
ul#left_aside_sns_more_layer li.kas a { background-position:-150px -450px;}
ul#left_aside_sns_more_layer li.email a { background-position:-300px -500px;}

/* today language */
#today_lang_box > iframe { width:320px; height:150px; margin-bottom:10px}
.todayLang{width:320px; height:150px; margin-bottom:20px; background:url(http://image.chosun.com/cs/section/bg_todaylang.gif) no-repeat 0 0; }
.todayLang dt{padding:14px 0 0 24px; margin:0 0 10px 62px; line-height:1; background:url(http://image.chosun.com/cs/section/ic_pen.png) no-repeat 0 12px;}
.todayLang dt a{font-size:16px; font-weight:bold; color:#222;}
.todayLang dd ul{padding-left:40px;}
.todayLang dd ul li{height:26px; line-height:26px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding-right: 20px;}
.todayLang dd ul li a{font-size:14px; color:#222;}
.todayLang dd ul li a span{display:inline-block; margin-right:4px;}

/* news body */
.news_body { width:600px; margin-left:20px; float:left; font-size:15px; line-height:1.78; }
.news_body.fontset_gul { font-family:'굴림', gulim;}
.news_body .news_date { margin-bottom:17px; font-family: '돋움', Dotum, Arial, Helvetica, sans-serif; font-size: 78.6%; color: #888; letter-spacing:0;}
.news_body .news_date p { margin-bottom:0; }
.news_body .news_subtitle { margin-bottom:8px; font-size:100%; font-weight:bold; color:#555;}
.news_body .par { margin-bottom:10px;}
.news_body .par:after { content: "."; display: block; font-size: 0; height: 0px; line-height: 0; clear: both; }
.news_body .par > p { margin-bottom:20px;}
.news_body .par > div { margin-bottom:20px;}
.news_body .par a { text-decoration:underline; color:#3560A7}

/* ent font style */
.font_tit {font-size:17px; font-weight:bold; color:#5d5d5d; line-height:3.5px; letter-spacing:-2px; font-family:'맑은 고딕','Malgun Gothic','Apple SD Gothic Neo',sans-serif; background:url(http://image.chosun.com/ent/movie//font_tit_back.jpg) no-repeat 0px 5px; padding-left:12px; text-decoration:underline;}

/* news body - image box */
.news_imgbox { width:600px; margin-bottom:20px;}
.news_imgbox img { width:600px;}
.news_imgbox figcaption { padding-top:8px; font-family:'돋움', Dotum, Arial, Helvetica, sans-serif; font-size:11px; line-height:16px; color:#888;}
.news_imgbox img + figcaption { padding-top:2px;}

.news_imgbox.under600 { clear:both; width:300px; float:left; margin-right:20px; position:relative;}
.news_imgbox.under600.right { float:right; margin-right:0; margin-left:20px;}
.news_imgbox.under600.center { float:none; width:600px; margin-left:auto; margin-right:auto;}
.news_imgbox.under600.center img { width:auto; max-width:600px;}
.news_imgbox.under600 img { width:300px; }
.news_imgbox.under300 { max-width:300px; width:auto; float:left; margin-right:20px; position:relative;}
.news_imgbox.under300 img { max-width:300px; width:auto; }
.news_imgbox.under300.right { float:right; margin-left:20px; margin-right:0;}

.news_imgbox.heightlong { width:320px; float:left; clear:both; margin-left:-155px; margin-right:30px; position:relative;}
.news_imgbox.heightlong img { width:320px;}
.news_imgbox.heightlong.right { float:right; margin-left:30px; margin-right:0;}
.news_imgbox.heightlong.center { clear:both; float:none; margin-left:auto; margin-right:auto;}

.news_imgbox.heightlong.center img { width:auto;}
.news_imgbox.heightlong.right img { width:auto;}

.news_imgbox span.zoom_img { display:block; position:relative; line-height:0;}
.news_imgbox span.zoom_img a {}
.news_imgbox span.zoom_img a.zoom_clone { display:block; position:absolute; top:0px; left:0px; margin-left:-160px;}
.news_imgbox.heightlong span.zoom_img a.zoom_clone { margin-left:0;}
.news_imgbox span.zoom_img a.zoom_clone img { width:auto; max-width:960px; position:relative; z-index:9999; box-shadow:1px 1px 5px #888;}
.news_imgbox span.zoom_img em { display:block; width:45px; height:45px;  position:absolute; bottom:10px; right:10px; background:url(http://image.chosun.com/main/201505/cs_art_ico.png) no-repeat -150px -300px; font-size:0; line-height:0; text-indent:-9999px; overflow:hidden;}

.news_imgbox span.info_img { display:block; position:relative; line-height:0;}
.news_imgbox span.info_img em { display:block; width:60px; height:60px;  position:absolute; bottom:0px; left:0px; background:url(http://image.chosun.com/main/201505/cs_art_ico.png) no-repeat -300px -350px;; font-size:0; line-height:0; text-indent:-9999px; overflow:hidden;}

.news_imgbox.under600 span.zoom_img a.zoom_clone { margin-left:0;}

/* news body - image slider */
.news_imgslider { clear:both; position:relative; margin-bottom:10px; }
.news_imgslider .slide_num { position:absolute; top:10px; right:10px; font-size:11px; color:#666;}
.news_imgslider .slide_num .slide_current { color:#fff; }
ul.imgslider { height:490px; background:#131a22; color:#fff; line-height:0; overflow:visible;}
ul.imgslider li { width:600px; height:360px; text-align:center; line-height:0; position:relative;}
ul.imgslider li a { line-height:356px;}
ul.imgslider li img { max-width:600px; max-height:360px; vertical-align:middle;}
ul.imgslider li em { width:540px; display:block; padding: 10px 45px 10px 15px; font-family:'돋움', Arial, Helvetica, sans-serif; font-size:12px; line-height:18px; color:#888; text-align:left; position:absolute; bottom:0px; left:0px; background:url(http://image.chosun.com/main/201505/cs_art_trans75.png); color:#aaa;}
.news_imgslider .ico_sl_zoom { width:22px; height:22px; display:block; position:absolute; bottom:83px; right:8px; background:url(http://image.chosun.com/main/201505/cs_art_ico.png) no-repeat -200px -300px; text-indent:-9999px; overflow:hidden;}
.news_imgslider.nothumb .ico_sl_zoom { width:22px; height:22px; display:block; position:absolute; bottom:8px; right:8px; background:url(http://image.chosun.com/main/201505/cs_art_ico.png) no-repeat -200px -300px; text-indent:-9999px; overflow:hidden;}

.lSSlideWrapper { overflow:visible;}
.lSSlideOuter { height:435px; }
.lSAction > a { width:54px; height:54px; background:url(http://image.chosun.com/main/201505/cs_art_ico.png) no-repeat; font-size:0; line-height:0; text-indent:-9999px; overflow:hidden;}
.lSAction > .lSPrev { left:0px; background-position:0px -150px; }
.lSAction > .lSNext { right:0px; background-position:-100px -150px; }
.lSAction > .lSPrev:hover { background-position:-200px -150px; }
.lSAction > .lSNext:hover { background-position:-300px -150px; }
.news_imgslider:hover .lSAction > .lSPrev { background-position:-200px -150px; }
.news_imgslider:hover .lSAction > .lSNext { background-position:-300px -150px; }

ul.lSPager { margin-top:0px!important;}
ul.lSPager li { width:120px; height:72px; overflow:hidden;}
.lSSlideOuter .lSPager.lSGallery { min-width:600px; background:#131A22}
.lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover { border-radius:0!important;}
ul.lSPager li.active { border-radius:0!important; border:solid 1px red; width:118px!important; height:70px;}

.news_imgslider.nothumb { height:360px;}
.news_imgslider.nothumb .lSSlideOuter { height:410px;}
.news_imgslider.nothumb ul.imgslider li { }
.news_imgslider.nothumb ul.imgslider li em { margin-top:0;}
.news_imgslider.nothumb ul.lSPager { display:none;}

.news_imgslider.bigsquare { height:600px;}
.news_imgslider.bigsquare .lSSlideOuter { height:600px;}
.news_imgslider.bigsquare ul.imgslider li { width:600px; height:600px; }
.news_imgslider.bigsquare ul.imgslider li em { margin-top:0;}
.news_imgslider.bigsquare ul.imgslider li a { line-height:595px;}
.news_imgslider.bigsquare ul.imgslider li img { max-width:600px; max-height:600px; vertical-align:middle;}
.news_imgslider.bigsquare ul.lSPager { display:none;}
.news_imgslider.bigsquare .ico_sl_zoom { bottom:10px;}
.news_imgslider.bigsquare .lSAction > .lSPrev { background-position:-200px -150px; opacity:1; }
.news_imgslider.bigsquare .lSAction > .lSNext { background-position:-300px -150px; opacity:1; }

/* first big photo */
.news_article.big_photo { width:1115px; }
.news_article.big_photo .news_aside { float: right; margin-top: 0; margin-left: 0;}
.news_article.big_photo > #contents { width: 765px; float: left;}
.news_article.big_photo .news_body { clear:both; margin-left:155px; }
.news_article.big_photo .photo_imgbox { width:960px; margin-left:20px; margin-bottom:30px; float:left;}
.news_article.big_photo .photo_imgbox figure { width:958px; border:solid 1px #ddd; text-align:center; }
.news_article.big_photo .photo_imgbox figure img { max-width:958px; max-height:700px; vertical-align:middle;}
.news_article.big_photo .photo_imgbox figcaption { padding-top:8px; font-family:'돋움', Dotum, Arial, Helvetica, sans-serif; font-size:11px; line-height:16px; color:#888; text-align:left;}
.news_article.big_photo .photo_imgbox img + figcaption { padding-top:2px;}

.news_article.big_photo .photo_imgbox .ext_embed { clear: none; margin-top: 0; margin-bottom:0; }
.news_article.big_photo .photo_imgbox .ext_embed iframe { width:960px; height:540px; margin-left:-1px; margin-top:-1px;}

.news_article.big_photo .photo_imgbox + .photo_imgbox { width:600px; margin-left:155px; float:left;}
.news_article.big_photo .photo_imgbox + .photo_imgbox figure { width:598px; border:solid 1px #ddd; text-align:center; }
.news_article.big_photo .photo_imgbox + .photo_imgbox figure img { width:598px; max-height:500px; vertical-align:middle;}

/* first big photo image slider fix */
/* news body - image slider */
.news_article.big_photo .photo_imgbox .news_imgslider { clear:both; position:relative; margin-bottom:10px; }
.news_article.big_photo .photo_imgbox .news_imgslider .slide_num { position:absolute; top:10px; right:10px; font-size:11px; color:#666;}
.news_article.big_photo .photo_imgbox .news_imgslider .slide_num .slide_current { color:#888; }
.news_article.big_photo .photo_imgbox ul.imgslider { height:540px;  color:#fff; line-height:0; overflow:visible;}
.news_article.big_photo .photo_imgbox ul.imgslider li { width:960px; height:540px; text-align:center; line-height:0; position:relative;}
.news_article.big_photo .photo_imgbox ul.imgslider li a { line-height:356px;}
.news_article.big_photo .photo_imgbox ul.imgslider li img { max-width:960px; max-height: 540px; vertical-align:middle;}
.news_article.big_photo .photo_imgbox ul.imgslider li em {width:930px; display:block; padding: 8px 15px; font-family:'돋움', Arial, Helvetica, sans-serif; font-size:12px; line-height:18px; color:#888; text-align:left; position:absolute; bottom:0px; left:0px; background:url(http://image.chosun.com/main/201505/cs_art_trans75.png); color:#aaa;}
.news_article.big_photo .photo_imgbox .lSSlideWrapper { overflow:visible;}
.news_article.big_photo .photo_imgbox .lSSlideOuter { height:540px; }
.news_article.big_photo .photo_imgbox .lSAction  { width:54px; height:98px; background:url(http://image.chosun.com/cs/photo2015/common_img.png) no-repeat; font-size:0; line-height:0; text-indent:-9999px; overflow:hidden;}
.news_article.big_photo .photo_imgbox .lSAction > .lSPrev a{ left:0px; background-position:-90px 0; }
.news_article.big_photo .photo_imgbox .lSAction > .lSNext a{ right:0px; background-position:-146px 0; }

.news_article.big_photo .photo_imgbox .news_imgslider.nothumb { height:540px; border: solid 1px #ddd;}
.news_article.big_photo .photo_imgbox .news_imgslider.nothumb .lSSlideOuter { height:540px;}
.lSAction>a {top: 40%;}

/* news body - etc */
.copy_2011 { clear:both; border-top:solid 1px #ccc; overflow:hidden; font-size:13px; margin:20px 0 40px 5px!important;}
.copy_2011 .csource{color:#666;float:left;margin:4px 0 0 5px;display:inline;}
.copy_2011 .cetc{color:#666; float:right;margin:4px 4px 0 0;display:inline;}
.copy_2011 .cetc a{color:#666;}
.copy_2011 .cetc span img{vertical-align:middle;margin:0 7px 2px 7px;}

.rel_art_list { padding-left:10px; margin-top:20px;}
.rel_art_list dl { clear:both; position:relative; margin-bottom:5px; letter-spacing:-1px;}
.rel_art_list dl:before { content:''; width:7px; height:7px; display:block; position:absolute; top:50%; left:-10px; margin-top:-3px; background:url(http://image.chosun.com/main/201505/cs_art_ico.png) no-repeat -100px -300px;}
.rel_art_list dl dd.thumb { display:none; }
.rel_art_list dl dd.thumb img { float:left; width:58px; height:43px; margin-right:10px;}
.rel_art_list dl dt { font-size:16px; font-weight:bold; color:#222}
.rel_art_list dl dt em { margin-left:5px; font-size:12px; font-weight:normal; color:#999;}
.rel_art_list dl dt span { margin-left:5px; font-size:12px; font-weight:normal; color:#999;}



.ext_img_slider {}
.ext_rel_article { margin-bottom:10px; padding-left:10px; font-style:italic; overflow:hidden;}
.ext_rel_article dl.ext_rel_item { clear:both; position:relative; margin-bottom:10px;}
.ext_rel_article dl.ext_rel_item:before { content:''; width:3px; height:5px; display:block; background:url(http://image.chosun.com/main/201505/cs_art_ico.png) no-repeat -250px -525px; position:absolute; top:50%; left:-10px; margin-top:-3px;}
.ext_rel_article dl.ext_rel_item dd.thumb { }
.ext_rel_article dl.ext_rel_item dd.thumb img { float:left; width:40px; height:40px; margin-right:10px; margin-bottom:10px;}
.ext_rel_article dl.ext_rel_item dd.uptit { line-height:1;}
.ext_rel_article dl.ext_rel_item dt { text-decoration:underline; font-size:107.1%}
.ext_rel_article dl.ext_rel_item dt a { color:#000;}

.ext_embed { clear:both; margin-top:30px; margin-bottom:20px;}
.ext_embed span.desc { display:block; padding-top:8px; font-family:'돋움', Dotum, Arial, Helvetica, sans-serif; font-size:11px; line-height:16px; color:#888;}
.ext_embed.ext_mov_960, .ext_embed .ext_mov_960 { margin-left:-160px;}

.ext_embed .twitter-tweet { border:solid 1px #ccc; font-size:14px;}
.ext_embed .twitter-tweet p { font-size:16px; font-weight:bold;}
.ext_embed .mov_3, .ext_embed .mov_2 { width:960px; margin-left:-160px; overflow:hidden;}
.ext_embed .mov_3 iframe { width:320px; display:block; float:left;}
.ext_embed .mov_2 iframe { width:480px; display:block; float:left;}
.ext_embed .mov_3 iframe.instagram-media { width: 30%; max-width: 30%!important; margin-left: 2%!important; margin-bottom: 15px!important;}
.ext_embed .mov_2 iframe.instagram-media { width: 47%; max-width: 47%!important; margin-left: 2%!important;}
.ext_embed .ext_timeline { width:960px; margin-left:-160px;}

.ext_bbs_poll { clear:both; display:block; width:350px; height:160px; margin:30px auto;}

.ext_quote { width:320px; float:left; clear:both; margin-top:6px; margin-left:-155px; margin-right:30px; padding:25px 0 23px; border:solid 1px #b2b2b2; border-left:0; border-right:0; position:relative;}
.ext_quote blockquote { font-family:'나눔명조', '맑은 고딕', 바탕, serif; text-align:center; }
.ext_quote blockquote p { margin-bottom:5px; font-size:20px; line-height:30px; color:#222; position:relative; z-index:3 }
.ext_quote blockquote em { font-size:17px; color:#888;  z-index:3}
.ext_quote blockquote em:before { content:''; position:absolute; display:block; width:52px; height:22px; top:-14px; left:50%; margin-left:-16px; background:#fff url(http://image.chosun.com/main/201505/cs_art_ico.png) no-repeat -240px -300px; z-index:1;}

.ext_summary { width:320px; float:left; clear:both; margin-top:10px; margin-left:-155px; margin-right:30px; padding:25px 0 23px; border:solid 1px #b2b2b2; border-left:0; border-right:0; position:relative;}
.ext_summary blockquote { font-family:'나눔명조', '맑은 고딕', 바탕, serif; text-align:center; }
.ext_summary blockquote p { font-size:20px; line-height:30px; position:relative; z-index:3; margin-bottom:0; color:#222; }

.ext_image { width:320px; float:left; margin-top:10px; margin-left:-155px; margin-right:30px; border-top:solid 1px #b2b2b2; position:relative; clear:both;}
.ext_image dl { position:relative;}
.ext_image dl dt { padding:10px 0; font-family:'나눔명조', '맑은 고딕', 바탕, serif; text-align:center; font-size:20px; line-height:30px; }
.ext_image dl dt a { color:#222; }
.ext_image dl dd.image { line-height:0; background:#fff; margin-top:-1px }
.ext_image dl dd.image img { width:320px;}
.ext_image dl dd.ico { display:block; width:60px; height:60px; position:absolute; bottom:0px; left:0px; display:none;}
.ext_image dl dd.ico a { display:block; width:60px; height:60px; background:url(http://image.chosun.com/main/201505/cs_art_ico.png) no-repeat;}

.ext_image.ext_slide dl dd.ico, .ext_image.ext_info dl dd.ico, .ext_image.ext_chart dl dd.ico { display:block;}
.ext_image.ext_slide dl dd.ico a { background-position:-150px -350px;}
.ext_image.ext_info dl dd.ico a { background-position:-225px -350px;}
.ext_image.ext_chart dl dd.ico a { background-position:-300px -350px;}


.ext_keyword { clear:both; margin-bottom:34px; margin-top:20px;}
.ext_keyword h5 { display:none; }
.ext_keyword ul { line-height:0;}
.ext_keyword ul li { display:inline;}
.ext_keyword ul li a { margin-right:6px; padding:2px 5px; background:#efefef; border-radius:3px; font-size:12px; line-height:1; }

#keyword { clear:both; margin-top:20px; margin-bottom:34px;}
#keyword > img, #keyword > strong, #keyword > span { display:none; }
#keyword dl { display:inline;}
#keyword dl dd { display:inline;}
#keyword dl dd a { margin-right:6px; padding:2px 5px; background:#efefef; border-radius:3px; font-size:15px; line-height:1; }


/* aside */
.news_aside { width:320px; margin-top:30px; margin-left:40px; padding-bottom:20px; float:left; letter-spacing:-1px;}
.news_aside_box {  border:solid 1px #d7d7d7; border-top:solid 1px #d61b22; }

/* aside - news Q */
.sec_headline_newsq { border-top:solid 1px #d7d7d7; }
.sec_headline_newsq h5 { height:35px; padding-left:20px; font-size:16px; font-weight:bold; line-height:35px; background:#f8f8f8; border-bottom:solid 1px #d7d7d7; position:relative; }
.sec_headline_newsq h5 a {color:#000;}
.sec_headline_newsq h5 span.red { color:#cc0710}
.sec_headline_newsq h5 .more { position:absolute; top:0px; right:18px; font-size:13px; font-weight:normal;}
.sec_headline_newsq h5 .more a { color:#333;}
.sec_headline_newsq div { }
.sec_headline_newsq ul { overflow:hidden;}
.sec_headline_newsq ul li { width:318px; margin:0; padding:0;}

#sec_headline_newsq_toggle { font-size:11px; color:#222; cursor:pointer; position:absolute; top:0px; right:19px;}
#sec_headline_newsq_toggle:before { content:''; width:16px; height:15px; margin-right:5px; display:inline-block; vertical-align:middle; background:url(http://image.chosun.com/main/201505/csh_main_ico_2.png) no-repeat -175px -50px;}
#sec_headline_newsq_toggle.et-run:before { background-position: -150px -50px;}

dl.newsq_item { width:280px; margin:0 auto; border-top:solid 1px #eaeaea; overflow:hidden;
; }
.sec_headline_newsq ul li:first-child dl.newsq_item { border-top:0;}

dl.newsq_item dd.thumb { float:right; margin-top:6px; margin-left:20px; line-height:0;}
dl.newsq_item dd.thumb img { width:52px; height:52px;}
dl.newsq_item dt { margin:12px 0; font-size:16px; font-weight:bold; color:#222; height:40px; overflow:hidden;}
dl.newsq_item dt a { color:#222;}

dl.newsq_item_big { width:280px; height:155px; margin:0 auto; padding:6px 0; border-top:solid 1px #eaeaea; overflow:hidden; position:relative; }
dl.newsq_item_big dd.thumb { width:280px; height:155px; position:absolute; top:6px; left:0px; }
dl.newsq_item_big dd.thumb img { width:280px; height:155px;}
dl.newsq_item_big dd.thumb span { width:100%; height:100%; display:block; position:absolute; top:0px; left:0px; background:url(http://image.chosun.com/main/201505/csh_main_gra.png) repeat-x left bottom;}

dl.newsq_item_big dt { width:276px; padding:0 12px; position:absolute; bottom:18px; font-size:16px; font-weight:bold;}
dl.newsq_item_big dt a { color:#fff;}
dl.newsq_item_big dt em { content:''; width:24px; height:24px; display:inline-block; vertical-align:middle; margin-right:8px; background:url(http://image.chosun.com/main/201505/csh_main_ico_2.png) no-repeat -50px -50px;}

/* aside - popular news */
.sec_headline_popular { position:relative;}
.sec_headline_popular_item { width:318px;}
.sec_headline_popular h5 { height:35px; padding-left:20px; font-size:16px; font-weight:bold; line-height:35px; background:#f8f8f8; border-bottom:solid 1px #d7d7d7; }
.sec_headline_popular h5 a {color:#000;}
.sec_headline_popular h5 span.red { color:#cc0710}
ul.sec_headline_popular_tab { position:absolute; top:7px; right:5px;}
ul.sec_headline_popular_tab li { display:inline; margin:0 5px;}
ul.sec_headline_popular_tab li a {}
ul.sec_headline_popular_tab li a.current { font-weight:bold;}

.sec_headline_popular .sec_headline_popular_pan { display:none;}
.sec_headline_popular ol { padding:7px 19px; counter-reset:news_pop;}
.sec_headline_popular ol.popular_1 { counter-reset:news_pop 0; }
.sec_headline_popular ol.popular_2 { counter-reset:news_pop 5; }
.sec_headline_popular ol li { font-size:15px; font-weight:bold; line-height:30px; color:#222; counter-increment:news_pop; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; -ms-text-overflow:ellipsis}
.sec_headline_popular ol li:before {  content: counter(news_pop) " "; margin-right:5px; font-family:"Bodoni MT", Georgia, "Times New Roman", Times, serif; font-style:italic; color:#555; }
.sec_headline_popular ol li a { color:#222;}
.sec_headline_popular ol li + li {}
.sec_headline_popular .bx-controls { width:120px; position:absolute; top:12px; right:19px;}
.sec_headline_popular .bx-controls-direction { float:right; position:relative;}
.sec_headline_popular .bx-pager { width:50px; padding-right:10px; float:right; position:relative; bottom:auto; text-align:right; font-family:Tahoma, Geneva, sans-serif; font-size:11px; line-height:15px; color:#999}
.sec_headline_popular .bx-pager:first-letter { color:#222;}

.sec_headline_popular dl.cmt_favnews_item { width:280px; margin:0 auto; padding:0; border-bottom:0; overflow:hidden;
; }
.sec_headline_popular dl.cmt_favnews_item dd.thumb { float:right; width:52px; height:52px; margin-top:6px; margin-left:20px; line-height:0; text-align:center; overflow:hidden;}
.sec_headline_popular dl.cmt_favnews_item dd.thumb img { width:auto; height:100%;}
.sec_headline_popular dl.cmt_favnews_item dt { margin:12px 0; padding:0; font-size:16px; font-weight:bold; line-height:20px; color:#222; height:40px; overflow:hidden;}
.sec_headline_popular dl.cmt_favnews_item dt a { color:#222;}


/* article ad */
.art_aisde_ads { width:318px; border:solid 1px #d6d6d6; margin-top:20px; margin-bottom:20px; padding:15px 0;}
.art_ad_top { width:970px; height:90px; margin:0 auto; padding-top:10px; text-align:center;}
#banner01 { width:600px; margin:0 auto; text-align:center;}
#banner01 iframe { width:600px;}

.art_ad_aside { width:300px; height:250px; margin:0 auto; text-align:center;}
.art_ad_ss_left { width:160px; height:600px; position:absolute; top:575px; left:50%; margin-left:-750px; }
.art_ad_ss_right { width:160px; height:600px; position:absolute; top:575px; right:50%; margin-right:-750px; }
.art_ad_aside_if_5 { width:300px; height:100px; margin:0 auto; display:block;}
.art_ad_aside_if_6 { width:260px; height:220px; margin:0 auto 20px; display:block;}
.art_ad_aside_if_12 { width:300px; height:250px; margin:0 auto; display:block;}
.art_ad_aside_if_9 { margin:20px auto; display:block;}
.art_ad_aside_if_10 { margin:0 auto; display:block;}
.art_ad_aside_if_11 { width:600px; height:130px;}
.art_ad_aside_if_13 { width:600px; height:135px;}
.art_ad_aside_if_14 { margin-bottom:20px;}
.art_ad_aside_if_16_1 { display:block; width:300px; height:250px; margin:0 auto 20px;}
.art_ad_aside_if_16_2 { display:block; width:260px; height:250px; margin:0 auto 20px;}
.art_ad_aside_if_16_3 { display:block; width:300px; height:600px; margin:0 auto;}

.art_ad_aside_if_google { margin-bottom:15px;}
.art_ad_promo_ifbox {width: 318px;  border: solid 1px #D6D6D6;  border-top: 0;  text-align: center;  padding: 10px 0;}
.art_ad_aside_if_asidex { width:300px; height:250px; margin:0 auto; display:block;}

/* unse and other */
.news_body .unse {margin:6px 10px 5px 0;}
.news_body .unse_line {width:600px;}
.today_cs_box { clear:both; width:1115px; padding:20px 0 30px; position:relative; border-top:solid 1px #e58387; overflow:hidden; letter-spacing:-1px; border:0; padding:0;}
.today_cs_box .sec_tit { float:left; width:134px; display:none;}
.today_cs_box .sec_tit h3 { margin-bottom:10px; font-size:18px; font-weight:bold; color:#222; letter-spacing:-1px;}
.today_cs_box .sec_con { position:relative; float:left; width:980px; padding:0 ; border-left:solid 1px #d7d7d7; border-right:solid 0px #d7d7d7;}
.today_cs_box .sec_con { float:none; width:100%; border:0;}
.today_cs_box #nb_if { width:970px; height:290px; margin-left:10px; width:100%; height:440px; margin:0;}

#rel_art_list img  { display:none; }
.news_comment { border-top-color:#909090;}
.news_comment .sec_con {}

/* article page cmt more hidden */
#contents .cmt_reply_more { display:none; }

/* lang tab */
.art_tab_2015 { position:absolute; bottom:10px; right:210px; font-size:12px; line-height:28px; color:#ddd;}
.art_tab_2015 a { color:#222;}
.art_tab_2015 li { display:inline;}
.art_tab_2015 ul.art_lang li { display:inline;}
.art_tab_2015 ul.art_lang li:before { content:'| '; color:#ddd; margin:0 3px;}
.art_tab_2015 ul.art_lang li:first-child:before { display:none;}


@media print {
#csWrap, .csh_art { min-width:0;}
.news_aside, .art_ad_top, .csh_art .csh_login, .csh_art_bg, .csh_art_min, .news_left_aside, .art_ad_ss_left, .art_ad_ss_right, .news_arrows, .news_go, .art_ad_aside_if_11, .art_ad_aside_if_13, .art_ad_aside_if_google, .art_ad_aside_if_14, .today_cs_box, ul.news_title_tools, #iwm_ti_wrap, .news_comment, .copy_2011 .cetc, .rel_art_list, #keyword { display:none;}
.csh_art_min.fixed, dl.copyright dd.copy_links, .iwm_ti_layr, ul.news_title_cat_sub, #iwm_float_wrapper { display:none!important}
#csContent, .news_article, .news_body, .csh_art_in, #csCopy, dl.copyright { width:100%; margin:0; padding:0;}

#csHeader, #csContent, #csCopy { width:auto; padding:0 10px;}
#csCopy { border-top:0;}
.footer_in { border-top:solid 1px #909090;}

.news_title h1 { line-height:1.3;}
.csh_art .csh_art_cat { font-size:22px;}
.news_title { width:100%; padding:20px 0; border-bottom:0; border-top:solid 1pt #ccc;}
.news_title_cat { float:none; width:100%; height:auto; font-size:15px;}
.news_title_cat > a:after { display:none;}
.news_title_text { margin-left:0;}
.news_title .news_title_author, .news_title .news_title_author a { color:#000; font-size:13px;}
dl.copyright dt { padding-top:0!important;}
.news_body .news_subtitle, .news_title_cat a, .news_body .news_date, .copy_2011 .csource { color:#000;}
.news_body .news_date { font-family:'맑은 고딕', '돋움';}
.news_imgbox figcaption { color:#000; font-size:13px;}
.news_imgbox.heightlong { margin-left:0; }
.news_imgbox.under600, .news_imgbox.under300 { }
.copy_2011 { border:0; margin-top:10px!important; margin-bottom:10px!important}

.ext_embed.ext_mov_960, .ext_embed .mov_3, .ext_embed .mov_2, .ext_embed .ext_timeline { margin-left:0;}
.ext_quote, .ext_summary, .ext_image { margin-left:0;}
.ext_quote blockquote em:before { display:none; }

/* speaking english 20160705 */
.print_image_small .news_imgbox.heightlong.center img { width:300px}
.print_image_small figure { text-align:center}
.print_image_small iframe[src^="http://cad.chosun.com"], .print_image_small a[href^="mms"], .print_image_small a[href^="http://cad.chosun.com"] { display:none}
.print_image_small .news_title_author, .print_image_small script + span { display:none}
.print_image_small .news_title { padding:0}
}

.set_help{ position:relative; width:14px; height:14px; display:inline-block; background:url(http://image.chosun.com/main/201505/cs_art_ico.png) no-repeat -155px -633px; margin-top:5px}
a.set_help:hover > div.cmt_today_help{display:block;}

#art_btm_lang_ul { margin-bottom:10px; font-size:14px;}
#art_btm_lang_ul li { display:inline; margin-right:10px; }
#art_btm_lang_ul li:after { content:''; display:inline-block; width:3px; height:5px; background:url(http://image.chosun.com/main/201505/cs_art_ico.png) no-repeat -225px -500px; vertical-align:middle; margin-left:4px;}
#art_btm_lang_ul li span { font-weight:bold; color:#c51917;}
#art_btm_lang_ul li img { vertical-align:middle; display:none;}





/* for small monitors under 1280 */
@media all and (max-width : 1280px) {
#csWrap { position: relative}
.news_aside { margin-left: 30px}
.news_body { margin-left: 155px;}
.news_left_aside { position: relative;}
.art_ad_ss_left { margin-left: -605px}
.art_ad_ss_right { margin-right: -705px}
.news_left_aside { float:none; width:100%;}
ul.left_aside_sns { position: absolute; top: -10px; right: 0px}
ul.left_aside_sns li { position:relative; float:left; width:auto; clear:none; border:0; }
/*.news_body { margin-left:0; margin-right:0; font-size:16px; width :100%; }*/
ul.left_aside_sns li.more a { margin-right: 0}
#left_aside_sns_more_layer { position:absolute; width:172px; padding:3px 0 8px 10px; top:50px; left:auto; right:0px}
#left_aside_sns_more_layer.open:before { display:none;}
.news_imgbox.def { width: 100%;}
.news_imgbox.def img { width: 100%;}
.news_imgbox figcaption { font-size:14px;}
ul.news_title_cat_sub { position:relative; z-index:999;}
}



/* for tablets 1024 */
@media all and (max-width : 1024px) {
/* gnb */
.csh_art { min-width:600px;}
.csh_art_in { width:100%;}
h2#csh_brand { padding-left:10px;}
.csh_art .csh_login { padding-right:10px;}
.csh_art ul.csh_menu { width:auto; }
.csh_art ul.csh_menu li a { padding:0 20px;}
.csh_art .csh_all, .csh_art #csh_all_id { width:100%; left:0; border-left:0; border-right:0;}
#csh_all_id h4 + ul.csh_all_list { padding-left:0px;}
.csh_art ul.csh_all_list { width:16.50%; min-height:330px; height:auto; padding:0;}
.csh_art ul.csh_all_list li { padding-left:10px;}
.csh_art ul.csh_all_sites { padding-left:0;}
#csh_search .searchTerm { width:200px;}
.csh_art #csh_all_id.fixed { margin-left:0px; left:0px;}
.csh_art .csh_logo_art_csc { margin-left:10px;}
dl#csh_min_title { width : -webkit-calc(100% - 380px); width : -moz-calc(100% - 380px); width : calc(100% - 380px);}
.csh_search_inputbox { background:#C51917; padding:0 0 0 3px;}

/* top wrap */
#csWrap { min-width:600px;}
#csContent { width:100%; min-width:600px; border:0;}
#csFooter, #csCopy { width:100%; min-width:600px;}
.footCont { width:100%;}
.footCont ul li { width:140px; }
.footCont ul li:first-child { margin-left:20px;}
dl.copyright, dl.info_cs, dl.info_dz { width:100%;}
dl.info_cs, dl.info_dz { display:none;}
dl.copyright dt { }
#go_mobile { width:95%!important;}
section { width:100%; letter-spacing:0;}
section a.sec_close { display:none; }
.sec_tit { float:none; width:100%;}
.sec_tit h3 { display:inline; padding-left:10px;}
.sec_tit h3 a { display:inline-block;}
.sec_tit h3 a br, .sec_tit h3 a br:after { content: ' '}

.art_ad_top { width:100%; height:auto; min-width:600px; margin:0 auto;}
.art_ad_ss_left, .art_ad_ss_right { display:none;}

/* article body fix  */
.news_article { width : -webkit-calc(100% - 350px); width : -moz-calc(100% - 350px); width : calc(100% - 350px); padding:0 10px;}
.news_title { width:100%; }
.news_title_cat { width:125px; padding-left:10px;}
.news_title_text { padding-right:10px;}
.news_left_aside { float:none; width:100%;}
ul.left_aside_sns { top: 5px}
/*ul.left_aside_sns li { float:left; width:100px; clear:none; border:0;}
ul.left_aside_sns li { position:relative;}*/
.news_body { padding-top: 15px; margin-left:0; margin-right:0; font-size:16px; width :100%; }
/*#left_aside_sns_more_layer { position:absolute; width:172px; padding:3px 0 8px 10px; top:0px; left:60px;}
#left_aside_sns_more_layer.open:before { display:none;}*/
ul.news_title_tools { width:70px;}
.news_imgbox.def { width: 100%;}
.news_imgbox.def img { width: 100%;}
.news_imgbox figcaption { font-size:14px;}
ul.news_title_cat_sub { position:relative; z-index:999;}

/* cmt 100 */
.news_comment .sec_tit { float:none; width:100%;}
.news_comment .sec_tit h3 { padding-left:10px;}
.news_comment .sec_con { width:100%; padding:0; border-left:0;}
.cmt_top_btn { padding-right:60px; text-align:right;margin-top:-20px;}
.cmt_body { padding:0 10px;}
.cmt_font_sz { right:10px;}
.cmt_write { padding:0 10px;}

.news_aside { margin-left:0; float:right; margin-right:10px;}


.today_cs_box { width:100%; display:none;}



.news_arrows a { width:38px; height:74px; background-size:300px; opacity:.5;}
.news_arrows #news_arrow_next {background-position: -112px 0px; }
.news_article .news_title_tools { width:90px!important; height:30px; top:10px!important;}
.news_comment .sec_tit em.cmt_count:after { display:none;}
ul.news_title_tools li.print, ul.news_title_tools li.email, ul.news_title_tools li.scrap, ul.news_title_tools li.font { display:none;}
ul.news_title_tools li a { height:28px;}
ul.news_title_tools li.size_up a, ul.news_title_tools li.size_dn a { width:30px; }
ul.news_title_tools li.size_up a {background-position: -291px -600px;}
ul.news_title_tools li.size_dn a {background-position: -321px -600px;}
.ext_embed .ext_timeline { width:100%; margin-left:0px;}

.csh_art_min.fixed { display:none;}
.art_ad_aside_if_11, .art_ad_aside_if_13, .art_ad_aside_if_google, .art_ad_aside_if_14 { width: 100%;}

}

/* for tablets 970 */
@media all and (max-width : 970px) {
.news_imgbox.def { width: auto;}
.news_imgbox.def img { width: 100%;}
.ext_embed.ext_mov_960, .ext_embed .ext_mov_960 { margin-left:0px;}
}
/* 768 */
@media all and (max-width : 768px) {
ul.csh_all_sites li { padding:0 8px;}
.csh_art ul.csh_menu li a { padding:0 10px;}
.csh_art #csh_search .searchTerm { width:150px; }
.news_body { width:100%;}
.art_ad_aside_if_11, .art_ad_aside_if_13, .art_ad_aside_if_google, .art_ad_aside_if_14 { display:none;}
.news_comment .sec_con { width:100%; padding:0;}
.csh_art_min.fixed { display:none;}
.news_aside { display:none;}
.news_article { width:95%;}

}
@media all and (max-width : 600px) {



}
