@charset "euc-kr";
/* Chosun.com List Stylesheet */

/* Reset import */
@import url("http://news.chosun.com/dhtm/css/main/201505/css_reset_2015_min.css");
@import url("http://news.chosun.com/dhtm/css/main/201505/cs_gnb_201505.css");

body { font-family:'맑은 고딕','Malgun Gothic',나눔고딕,돋움,Dotum,굴림,Gulim,'Apple SD Gothic Neo',sans-serif; }
body.cs_news_list .csh_art_min.fixed { display:none;}
#csWrap {}
#csHeader {}
#csContent { width:1160px; margin:0 auto; background:#fff; }
#csCopy { clear:both; width:1160px; margin:0 auto; border-top:solid 1px #909090;}
.footer_in { font-size:12px; padding:10px;}
.footer_in + .footer_in { border-top:solid 1px #d9d9d9; overflow:hidden;}
dl.copyright { width:690px; margin:0 auto; overflow:hidden;}
dl.copyright dt { width:206px; padding-top:10px; float:left;}
dl.copyright dt img { margin-right:5px}
dl.copyright dd { display:inline; background: url(http://image.chosun.com/main/201103/corp_line.gif) no-repeat left 3px;padding: 0 2px 0 7px; line-height:1;}
dl.copyright dt + dd, dl.copyright dd.copy { background:none; padding-left:0;}



.news_arrows { }
.news_arrows a { display:block; width:50px; height:99px; position:fixed; top:50%; margin-top:-25px; text-indent:-9999px; font-size:0; line-height:0; background:url(http://image.chosun.com/main/201505/cs_art_ico.png) no-repeat 0px 0px; }
.news_arrows #news_arrow_prev { left:0px; background-position:0px 0px;}
.news_arrows #news_arrow_next { right:0px; background-position:-50px 0px;}
.news_go { width:42px; height:42px; position:fixed; bottom:50px; right:10px;}
.news_go a { display:block; width:42px; height:42px; background:url(http://image.chosun.com/main/201505/cs_art_ico.png) no-repeat; font-size:0; line-height:0; text-indent:-9999px; overflow:hidden; }
.news_go #news_go_home { background-position: -100px -550px;}
.news_go #news_go_list { background-position: -150px -450px;}
.news_go #news_go_top { background-position: -150px -500px; margin-top:-1px;}

/* list */
/* list left aside */
.news_list { width:755px; margin-bottom:50px; padding-top:40px; float:left;}
.news_left_aside { width:135px; float:left;}
.news_left_aside .list_cat2 { font-size:18px; font-weight:bold; color:#444;}

/* today language */
#today_lang_box > iframe { width:320px; height:150px; margin-bottom:10px}
.todayLang{width:320px; height:150px; margin-bottom:20px; background:url(http://image.chosun.com/cs/section/bg_todaylang.gif) no-repeat 0 0; display:none}
.todayLang dt{padding:14px 0 0 24px; margin:0 0 10px 62px; line-height:1; background:url(http://image.chosun.com/cs/section/ic_pen.png) no-repeat 0 12px;}
.todayLang dt a{font-size:16px; font-weight:bold; color:#222;}
.todayLang dd ul{padding-left:40px;}
.todayLang dd ul li{height:26px; line-height:26px;}
.todayLang dd ul li a{font-size:14px; color:#222;}
.todayLang dd ul li a span{display:inline-block; margin-right:4px;}

/* list body */
.list_body { width:600px; min-height:1070px; margin-left:0px; padding-left:19px; float:left; font-size:14px; border-left:solid 1px #d7d7d7; letter-spacing:-1px;}
.list_body.fontset_gul { font-family:'굴림', gulim;}
.list_body .news_date { margin-bottom:20px; font-family: '돋움', Dotum, Arial, Helvetica, sans-serif; font-size: 78.6%; color: #888; }
.list_body .news_subtitle { margin-bottom:20px; font-size:100%; font-weight:bold; color:#555;}
.list_body p { margin-bottom:20px;}

.category { height:23px; margin-bottom:30px; border-bottom:solid 1px #909090; position: relative; font-size:14px; font-weight:bold; line-height:1; color:#444;}
.category #cat1 {}
.category #cat1 a {}
.category #cat2 {}
.category #cat2 a {}
.category #cat3 {}

.category2 { width:650px;padding-top:7px;padding-bottom:6px;background:#f9f9f9;line-height:20px; }
.category2 #selected { font-size:12px;color:#cb0305;font-weight:bold; }
.category2 #selected a { color:#db0305; }
.category2 #cat4 { font-size:12px;color:#333;font-weight:bold; }
.category2 #cat4 a { color:#333; }
.category2 #line { margin-left:10px;margin-right:8px;font-size:11px;color:#999; }
.category3 { width:650px;padding-top:7px;padding-bottom:6px;background:#f9f9f9;line-height:20px; }
.category3 #selected { font-size:12px;color:#0e4b8c;font-weight:bold; }
.category3 #selected a { color:#0e4b8c; }
.category3 #line { margin-left:10px;margin-right:8px;font-size:11px;color:#999; }
.category3 #cat4 { font-size:12px;color:#333;font-weight:bold; }
.category3 #cat4 a { color:#333; }

.category_imgtit { width:650px;height:auto;margin:15px 0 0 0;border-bottom:0px solid #d1d1d1; position: relative;}

.view_option {width:150px; float:left; font-size:12px; }
.view_option img { vertical-align:middle; margin-right:3px;}
.view_option #selected { margin:0 4px 0 2px;color:#666;font-weight:bold;vertical-align:top; letter-spacing:-0.1em; }
.view_option #selected a { color:#222;letter-spacing:-0.1em; }
.view_option #none-selected {margin-left:2px;margin-right:4px;color:#666; vertical-align:top;  }
.view_option #none-selected a { color:#666;  }
.view_option #img {width:13px; margin:0 2px -2px 0; padding-top:-2px; height:13px;display:inline;}
.view_option #line{font-size:12px;font-weight:none;color:#e6e6e6;padding:0 5px 0 4px;}

.sort_option { float:right; color:#666; letter-spacing:-0.1em; font-size:12px;  }
.sort_option #selected { font-weight:bold;margin:0 4px;    }
.sort_option #selected a { color:#222;  }
.sort_option #none-selected { margin:0 0 0 4px;}
.sort_option #none-selected a { color:#666;  }
.sort_option #line{ font-size:12px;font-weight:none;color:#e6e6e6;padding:0; }

#date_option_all {width:59px;}
.date_option { clear:both;text-align:center; padding-top:6px; position:relative; font-size:12px;}
.date_option ul { padding:0; list-style:none; margin:0;}
.date_option ul li { float:left;width:65px; height:26px; line-height:26px;  background:#f9f9f9; border:solid 1px #d6d6d6; border-right:0; color:#666;  }
.date_option ul li #date { }
.date_option ul li.selected { height:26px; background:#fff; font-weight:bold;color:#222; border-bottom:0; }
.date_option ul li.selected a { color:#222; }
.date_option ul li.deselected { }
.date_option ul li.deselected a {text-decoration:none;color:#666; }
.date_option ul li.cal { width: 70px; height:26px; border-right:solid 1px #d6d6d6; position: relative; }
.date_option ul li.cal a { width:19px; height:17px; display:inline-block; background:url(http://image.chosun.com/main/201505/cs_art_ico.png) no-repeat -325px -550px; text-indent:-9999px; overflow:hidden; vertical-align:middle; }
.date_option ul li.cal img{ vertical-align:middle; margin-left:3px; display:none;}

dl.list_item { padding:15px 0 5px; border-bottom:solid 1px #eaeaea; overflow:hidden; }
dl.list_item dt { margin-bottom:10px; font-size:17px; font-weight:bold; color:#222}
dl.list_item dt a { color:#222; }
dl.list_item dd.thumb { margin-bottom:10px; float:left; line-height:0; margin-right:10px; }
dl.list_item dd.thumb img { max-width:110px; max-height:80px;}
dl.list_item dd.desc { margin-bottom:3px; font-size:13px; line-height:20px; color:#666}
dl.list_item dd.desc a { color:#666;}
dl.list_item dd.date_author { margin-bottom:10px; font-size:12px; color:#888;}
dl.list_item dd.rel_trig { margin-top:-10px; font-size:12px; float:right;}
dl.list_item dd.rel_trig a { color:#222}
dl.list_item dd.rel_trig a:after { content:''; display:inline-block; width:5px; height:3px; margin-left:3px; background:url(http://image.chosun.com/main/201505/cs_art_ico.png) no-repeat -200px -525px; vertical-align:middle;}
dl.list_item dd.rel_trig a.rel_off:after { background-position:-200px -525px; }
dl.list_item dd.rel_trig a.rel_on:after { background-position:-225px -525px; }

dl.list_item dd.rel_box { clear:both; position:relative; display:none; margin-bottom:10px; padding:15px 20px; background:#f8f8f8; border:solid 1px #eaeaea; border-left:0; border-right:0;}
dl.list_item dd.rel_box a.rel_close { width:9px; height:9px; display:block; position:absolute; top:7px; right:7px; background:url(http://image.chosun.com/main/201505/cs_art_ico.png) no-repeat -300px -550px;}
ul.rel_list {}
ul.rel_list li { position:relative; margin-top:7px; padding-left:18px; font-size:13px; line-height:20px; color:#666; }
ul.rel_list li:first-child { margin-top:0;}
ul.rel_list li:before { content:''; display:block; width:7px; height:7px; background:url(http://image.chosun.com/main/201505/cs_art_ico.png) no-repeat -100px -300px; position:absolute; top:50%; left:0px; margin-top:-4px;}
ul.rel_list li a { color:#666;}
ul.rel_list li em.date { margin-left:5px; font-size:12px; color:#888;}

#list_area {clear:both;}
#list_area.list_title { padding-top:1px;}
#list_area.list_title dl.list_item { border-bottom:0; margin-top:13px; padding:0;}
#list_area.list_title dl.list_item dt { display:inline; }
#list_area.list_title dl.list_item dd.date_author { display:inline}
#list_area.list_title dl.list_item dd.rel_trig { margin-top:0; margin-bottom:5px;}
#list_area.list_title .list_spaceline { margin-top:13px; clear:both; display:block; border-bottom:solid 1px #eaeaea;}

/* calrendar popup */
.layerpopup {position:absolute; z-index: 9999;}

.paginate { clear:both; margin-top:20px; margin-bottom:20px;}
.paginate_num { text-align:center; font-size:13px; }
.paginate_num li { display:inline;}
.paginate_num li a, .cmt_pager li strong { padding:3px 10px; border:solid 1px #fff;}
.paginate_num li .current { color:#c41a1a; font-weight:bold; text-decoration:underline;}
.paginate_num li a:hover { text-decoration:none; border:solid 1px #c41a1a}
.paginate_num li a.pager_prev { background:url(http://image.chosun.com/main/201505/cs_art_ico.png) no-repeat -300px -575px; width:7px; height:13px; text-indent:-9999px; display:inline-block; padding:0; vertical-align:middle;  }
.paginate_num li a.pager_next { background:url(http://image.chosun.com/main/201505/cs_art_ico.png) no-repeat -325px -575px; width:7px; height:13px; text-indent:-9999px; display:inline-block; padding:0; vertical-align:middle;  }

/* aside */
.news_aside { width:320px; margin-top:30px; margin-left:40px; float:left; letter-spacing:-1px;}
.news_aside_box {  border:solid 1px #d7d7d7; border-top:solid 1px #d61b22; }

/* aside - news Q */
.sec_headline_newsq { }
.sec_headline_newsq h5 { height:35px; padding-left:20px; font-size:16px; font-weight:bold; line-height:35px; background:#f8f8f8; border-bottom:solid 1px #d7d7d7; position:relative; }
.sec_headline_newsq h5 a {color:#000;}
.sec_headline_newsq h5 span.red { color:#cc0710}
.sec_headline_newsq div { }
.sec_headline_newsq ul { overflow:hidden;}
.sec_headline_newsq ul li { width:318px; margin:0; padding:0;}

#sec_headline_newsq_toggle { font-size:11px; color:#222; cursor:pointer; position:absolute; top:0px; right:19px;}
#sec_headline_newsq_toggle:before { content:''; width:16px; height:15px; margin-right:5px; display:inline-block; vertical-align:middle; background:url(http://image.chosun.com/main/201505/csh_main_ico_2.png) no-repeat -175px -50px;}
#sec_headline_newsq_toggle.et-run:before { background-position: -150px -50px;}

dl.newsq_item { width:280px; margin:0 auto; border-bottom:solid 1px #eaeaea; overflow:hidden;
; }
dl.newsq_item dd.thumb { float:right; margin-top:6px; margin-left:20px; line-height:0;}
dl.newsq_item dd.thumb img { width:52px; height:52px;}
dl.newsq_item dt { margin:12px 0; font-size:16px; font-weight:bold; color:#222; height:40px; overflow:hidden;}
dl.newsq_item dt a { color:#222;}

dl.newsq_item_big { width:280px; height:155px; margin:0 auto; padding:6px 0; border-bottom:solid 1px #eaeaea; overflow:hidden; position:relative; }
dl.newsq_item_big dd.thumb { width:280px; height:155px; position:absolute; top:6px; left:0px; }
dl.newsq_item_big dd.thumb img { width:280px; height:155px;}
dl.newsq_item_big dd.thumb span { width:100%; height:100%; display:block; position:absolute; top:0px; left:0px; background:url(http://image.chosun.com/main/201505/csh_main_gra.png) repeat-x left bottom;}

dl.newsq_item_big dt { width:276px; padding:0 12px; position:absolute; bottom:18px; font-size:16px; font-weight:bold;}
dl.newsq_item_big dt a { color:#fff;}
dl.newsq_item_big dt em { content:''; width:24px; height:24px; display:inline-block; vertical-align:middle; margin-right:8px; background:url(http://image.chosun.com/main/201505/csh_main_ico_2.png) no-repeat -50px -50px;}

/* aside - popular news */
.sec_headline_popular { position:relative; border-top:solid 1px #d7d7d7;}
.sec_headline_popular_item { width:318px;}
.sec_headline_popular h5 { height:35px; padding-left:20px; font-size:16px; font-weight:bold; line-height:35px; background:#f8f8f8; border-bottom:solid 1px #d7d7d7; }
.sec_headline_popular h5 a {color:#000;}
.sec_headline_popular h5 span.red { color:#cc0710}
ul.sec_headline_popular_tab { position:absolute; top:7px; right:5px;}
ul.sec_headline_popular_tab li { display:inline; margin:0 5px;}
ul.sec_headline_popular_tab li a {}
ul.sec_headline_popular_tab li a.current { font-weight:bold;}

.sec_headline_popular .sec_headline_popular_pan { display:none;}
.sec_headline_popular ol { padding:7px 19px; counter-reset:news_pop;}
.sec_headline_popular ol.popular_1 { counter-reset:news_pop 0; }
.sec_headline_popular ol.popular_2 { counter-reset:news_pop 5; }
.sec_headline_popular ol li { font-size:15px; font-weight:bold; line-height:30px; color:#222; counter-increment:news_pop; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; -ms-text-overflow:ellipsis}
.sec_headline_popular ol li:before {  content: counter(news_pop) " "; margin-right:5px; font-family:"Bodoni MT", Georgia, "Times New Roman", Times, serif; font-style:italic; color:#555; }
.sec_headline_popular ol li a { color:#222;}
.sec_headline_popular ol li + li {}
.sec_headline_popular .bx-controls { width:120px; position:absolute; top:12px; right:19px;}
.sec_headline_popular .bx-controls-direction { float:right; position:relative;}
.sec_headline_popular .bx-pager { width:50px; padding-right:10px; float:right; position:relative; bottom:auto; text-align:right; font-family:Tahoma, Geneva, sans-serif; font-size:11px; line-height:15px; color:#999}
.sec_headline_popular .bx-pager:first-letter { color:#222;}

.sec_headline_popular dl.cmt_favnews_item { width:280px; margin:0 auto; padding:0; border-bottom:0; overflow:hidden; border-top:solid 1px #eaeaea }
.sec_headline_popular dl.cmt_favnews_item:first-child { border-top:0}
.sec_headline_popular dl.cmt_favnews_item dd.thumb { float:right; margin-top:6px; margin-left:20px; line-height:0;}
.sec_headline_popular dl.cmt_favnews_item dd.thumb img { width:52px; height:52px;}
.sec_headline_popular dl.cmt_favnews_item dt { margin:12px 0; padding:0; font-size:16px; font-weight:bold; line-height:20px; color:#222; height:40px; overflow:hidden;}
.sec_headline_popular dl.cmt_favnews_item dt a { color:#222;}



/* article ad */
.art_aisde_ads { width:318px; border:solid 1px #d6d6d6; margin-top:20px; margin-bottom:20px; padding:15px 0;}
.art_ad_top { width:970px; height:90px; margin:0 auto; text-align:center;}
.art_ad_aside { width:300px; height:250px; margin:0 auto; text-align:center;}
.art_ad_ss_left { width:160px; height:600px; position:absolute; top:305px; left:50%; margin-left:-750px; }
.art_ad_ss_right { width:160px; height:600px; position:absolute; top:305px; right:50%; margin-right:-750px; }
.art_ad_aside_if_5 { width:300px; height:100px; margin:0 auto; display:block;}
.art_ad_aside_if_6 { width:260px; height:220px; margin:0 auto; display:block;}
.art_ad_aside_if_12 { width:260px; height:200px; margin:0 auto; display:block;}
.art_ad_aside_if_9 { margin:0 auto; display:block;}
.art_ad_aside_if_10 { margin:0 auto; display:block;}





@media print {
.news_aside, aside,
.csh_art_bg,
.csh_login,
ul.news_title_tools,
.news_comment { display:none; }
#csContent,
.news_title { width:100%;}
}



/* for tablets */

/* landscape
_____  ________    _______  ___   ___
/ __  \|\   __  \  /  ___  \|\  \ |\  \
|\/_|\  \ \  \|\  \/__/|_/  /\ \  \\_\  \
\|/ \ \  \ \  \\\  \__|//  / /\ \______  \
   \ \  \ \  \\\  \  /  /_/__\|_____|\  \
    \ \__\ \_______\|\________\     \ \__\
     \|__|\|_______| \|_______|      \|__|

 */
@media only screen and (max-width : 1024px) {
/* gnb */
.csh_art { min-width:600px;}
.csh_art_in { width:100%;}
h2#csh_brand { padding-left:10px;}
.csh_art .csh_login { padding-right:10px;}
.csh_art ul.csh_menu { width:auto; }
.csh_art ul.csh_menu li a { padding:0 20px;}
.csh_art .csh_all, .csh_art #csh_all_id { width:100%; left:0; border-left:0; border-right:0;}
#csh_all_id h4 + ul.csh_all_list { padding-left:0px;}
.csh_art ul.csh_all_list { width:16.50%; min-height:330px; height:auto; padding:0;}
.csh_art ul.csh_all_list li { padding-left:10px;}
.csh_art ul.csh_all_sites { padding-left:0;}
#csh_search .searchTerm { width:200px;}
.csh_art #csh_all_id.fixed { margin-left:0px; left:0px;}
.csh_art .csh_logo_art_csc { margin-left:10px;}
dl#csh_min_title { width : -webkit-calc(100% - 380px); width : -moz-calc(100% - 380px); width : calc(100% - 380px);}
.csh_search_inputbox { background:#C51917; padding:0 0 0 3px;}
.section_map { padding: 32px 0 45px 10px; width:  width : -webkit-calc(100% - 20px); width : -moz-calc(100% - 20px); width : calc(100% - 20px);}
#csCopy { width:100%; min-width:600px;}
.footCont { width:100%;}
.footCont ul li { width:140px; }
.footCont ul li:first-child { margin-left:20px;}
dl.copyright, dl.info_cs, dl.info_dz { width:100%;}
dl.info_cs, dl.info_dz { display:none;}
dl.copyright dt { float:none;}
.news_arrows { opacity: .5}

#csContent { width: 100%;}
.news_left_aside { float: none; width: auto; padding-left: 20px; margin-bottom: 20px;}
.news_list { margin-bottom: 20px; padding-top: 20px; padding-left: 10px; width:  width : -webkit-calc(100% - 370px); width : -moz-calc(100% - 370px); width : calc(100% - 370px); min-width: 600px;}
.list_body { border-left: 0}
.news_aside { margin-top: 20px; margin-left: 20px; margin-right: 20px; margin-bottom: 30px;}
.paginate_num { font-size: 18px;}
.sort_option, .view_option, .date_option, ul.rel_list li { font-size: 14px; }
dl.list_item dd.date_author, dl.list_item dd.rel_trig { font-size: 13px;}
dl.newsq_item dt, .sec_headline_popular dl.cmt_favnews_item dt, dl.list_item dt { font-weight: normal}

.news_aside_box { margin-top: 10px; overflow: hidden; border: solid 1px #d7d7d7; border-top: 0;}
.sec_headline_newsq, .sec_headline_popular { width:  width : -webkit-calc(50% - 1px); width : -moz-calc(50% - 1px); width : calc(50% - 1px); float: left; border-top: 0;}
.sec_headline_newsq { border-right: solid 1px #d7d7d7;}
.sec_headline_popular { border-left: solid 1px #d7d7d7; margin-left: -1px;}
.sec_headline_newsq ul li, .sec_headline_popular_item { width: 100%;}
.sec_headline_newsq h5, .sec_headline_popular h5 { border-top: solid 1px #d61b22}

}



/* portrait
________  ________  ________
|\_____  \|\   ____\|\   __  \
\|___/  /\ \  \___|\ \  \|\  \
    /  / /\ \  \____\ \   __  \
   /  / /  \ \  ___  \ \  \|\  \
  /__/ /    \ \_______\ \_______\
  |__|/      \|_______|\|_______|

*/
@media only screen and (max-width : 768px) {
.sec_con_all { width: 100%;}
.csh_art ul.csh_menu li a { padding: 0 15px;}

.news_list { width : -webkit-calc(100% - 60px); width : -moz-calc(100% - 60px); width : calc(100% - 60px); min-width: 0;}
.list_body { width: 100% }
.date_option ul li { width: 11%;}
.news_aside { width : -webkit-calc(100% - 60px); width : -moz-calc(100% - 60px); width : calc(100% - 60px); }
}
